.git
.gitignore
.env
.env.*
vendor/
node_modules/
tmp/
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
.phpunit.result.cache
.vscode/
.idea/
*.log
